<ng-template [ngIf]="!hasSearchStarted && countries.length === 0">
    <div class="alert alert-info d-flex align-items-center">
        <div><i class="bi bi-info-circle"></i> </div>
        <div class="px-4"> Perform a search to find Countries.</div>
    </div>
</ng-template>

<ng-template [ngIf]="hasSearchStarted && countries.length === 0">
    <div class="alert alert-warning d-flex align-items-center">
        <div><i class="bi bi-x-octagon"></i> </div>
        <div class="px-4"> No countries found.</div>
    </div>
</ng-template>


<ng-template [ngIf]="countries.length > 0">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Icon</th>
                <th>Flag</th>
                <th>Arms</th>
                <th>Name</th>
                <th>Capital</th>
                <th>Population</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let country of countries; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ country.flag }}</td>
                <td><img [src]="country.flags.svg" [alt]="country.flags.alt"></td>
                <td><img [src]="country.coatOfArms.png"></td>
                <td>{{ country.name.common }}</td>
                <td>{{ country.capital }}</td>
                <td>{{ country.population | number }}</td>
                <td><a [routerLink]="[ '/countries/by/', country.cca3 ]">More</a></td>
            </tr>
        </tbody>

    </table>
</ng-template>

