<h2>Search by Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- SearchBox -->
        <shared-search-box 
            placeholder="Type to search country by capital"
            [initialValue] = initialValue
            (onValue) = "searchByCapital($event)"
            (onDebounce)="searchByCapital($event)">
        </shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <shared-loading-spinner *ngIf="this.isLoading"></shared-loading-spinner>
        <countries-table 
            [countries]="countries"
            [hasSearchStarted]="initialValue !== ''">
        </countries-table>
    </div>
</div>
